.view-card {
    max-width: 400px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
}

.each-form-field {
    flex: 50%;
    padding: 18px
}